
body {
    height: 100vh;
    margin: 0;
    background-color: rgb(148, 76, 215);
    cursor: none;
}

.cursor {
    z-index: 300;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #2696e8;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696e8, 0 0 60px #2696e8, 0 0 80px #2696e8;
    transform: translate(-50%,-50%);
    animation: colors 5s infinite;
}

@keyframes colors{

    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}