* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:root {
    --after-item:'2';
}

.icon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.container {
    width: 600px;
    height: 750px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container::-webkit-scrollbar{
    display: none;
}

.header {
    background-color: rgb(255, 255, 255);
}

#search {
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    position: fixed;
}

.container form{
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container form input{
    border: none;
    outline: none;
    width: 100%;
    box-shadow: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 9px;
}

.courses {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
}

.courses img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}
.course-list {
    padding: 20px 0;
}

.details{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 26rem;
}

.details h2{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.details h3{
    font-size: 12px;
}

.cart-sec {
    margin-left: 18rem;
    padding: 5px 7px;
}

.cart-window {
    position: absolute;
    top: 6rem;
    width: 17vw;
    border: 1px solid rgb(220, 220, 220);
    background-color: #fff1f1;
}

.cart-window h2{
    font-size: 1rem;
    padding: 2px 10px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.cart-section {
    overflow: auto;
    max-height: 200px;
}

.subtotal {
    border-top: 1px solid rgb(189, 189, 189);
    text-align: right;
    color: rgb(35, 19, 0);
    padding: 2% 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
}

.checkout {
    width: 45%;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(128, 58, 58);
    font-size: 0.9rem;
    font-family: Verdana, sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 10px auto;
    padding: 10px 15px;
}

.cart-icon {
    text-align: right;
}

.cart-content{
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    padding: 4% 4%;
    border-bottom: 1px solid rgb(98, 74, 74);
}

.cart-content img {
    width: 60px;
    height: 60px;
}

.cart-details{
    padding-left: 3%;
}

.cart-details h4{
    text-align: left;
    font-family: Verdana, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}

.cart-details p {
    font-size: 0.6rem;
    color: rgb(53, 53, 53);
    font-family: Verdana, sans-serif;
    font-weight: 400;
    text-align: left;
    margin-top: 5px;
}

.bi-x-square {
    color: black;
    border-radius: 2px;
    background-color: #ec7979;
    cursor: pointer;
}

.bi-cart-fill{
    margin-left: 20px;
    cursor: pointer;
}

.bi-cart-fill:hover{
    opacity: 0.8;
}

.add {
    height: 18px;
    width: 5rem;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: none;
    color: aliceblue;
    background-color: rgb(41, 41, 41);
    padding: 2px 5px;
    cursor: pointer;
}

.add:hover{
    border: 1px solid rgb(32, 32, 32);
    background-color: rgb(113, 113, 113);
    color: rgb(0, 0, 0);
}

.hide {
    display: none;
}

.non-empty::after {
    content: var(--after-item);
    font-size: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -21px;
    right: 6%;
    background-color: #ec7979;
}